body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(239,245,255);
}

.App {
    width: 53rem;
    height: 35rem;
    background-color: white;
    border-radius: 10px;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    color: black;
}